# Generated Taskfile
Taskfile.gen.yaml

# python
__pycache__/
venv
.venv
.env
.DS_Store
.mypy_cache
.vscode/
frontend/dynamic_app_settings.json
frontend/metadata.yaml
forecastic/train_model_output.*.yaml
notebooks/prep_scoring_data_output.*.yaml
e2e/test_results/*
.idea

.env*
!.env.template
Pulumi.*.yaml

.datarobot/cli/state.yaml
