pulumi==3.153.0
pulumi-datarobot>=0.10.22
datarobot-pulumi-utils>=0.1.6,<0.2

datarobot>=3.9.1,<4.0.0
datarobot-predict>=1.9.2,<1.10
datarobotx-idp>=0.2.13,<0.3

pydantic>=2.9.2,<2.10
pydantic-settings>=2.5.2,<2.6
eval_type_backport>=0.2.0,<0.3

openai>=1.31.2,<2

# Constrained by datarobot-drum
pandas>=2.0.3,<3
babel>=2.16,<3

streamlit>=1.39.0,<2
st-theme>=1.2.3,<2
plotly>=5.24.1,<6

jupyterlab>=4.2.5,<5
papermill>=2.6.0,<3

pytest>=8.0.1,<9
mypy==1.11.2
types-PyYAML==6.0.12.20250809
ruff>=0.6.9

fastapi[standard]>=0.115.5,<1
boto3
google-auth
requests>=2.31.0,<3
types-requests>=2.32.4
